.chat-item {
    width: 100%;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.chat-item:hover{
    background-color: #202c33; 
}

.chat {
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    grid-template-columns: fit-content(50px) 3fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "profilePic personName messageTime"
        "profilePic messageContent messageContent";
    color: #e9edef;
}

.profile-picture {
    grid-area: profilePic;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    grid-area: profilePic;
    background-image: url("../assets/icons/woman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.person-name {
    grid-area: personName;
    align-self: end;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
}

.person-message {
    grid-area: messageContent;
    margin-top: 5px;
    align-self: start;
    font-size: 1.3rem;
    font-weight: 300;
}

.person-message-time {
    grid-area: messageTime;
    font-size: 1.3rem;
    font-weight: 300;
    justify-self: end;
    align-self: end;
    margin-right: 20px;
}

.chat-item .separator-container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 60px;
}
.chat-item .separator {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #202b32;
}

.chat-item .separator:nth-child(1) {
    top: -10px
}
