html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  display: grid;
  background-color: #111b21;
  grid-template-columns: 1fr 3fr;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1274px) {
  .app-container {
    grid-template-columns: 2fr 3fr;
  }
}

@media (min-width: 1275px) {
  .app-container {
    width: 90%;
    height: 95vh;
    margin: 20px auto;
  }
}