html {
  font-size: 62.5%;
}
.app-container {
  width: 90%;
  height: 95vh;
  display: grid;
  margin: 20px auto;
  background-color: #111b21;
  grid-template-columns: 1fr 3fr;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}