.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #202c33;
}

.profile-pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    margin-left: 20px;
    background-image: url("../assets/icons/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.media-buttons-container {
    margin-right: 40px;
}

.media-button {
    width: 22px;
    height: 22px;
    margin-left: 35px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}


.media-button:nth-child(1) {
    margin: 0;
    background-image: url("../assets/icons/group.png");
}

.media-button:nth-child(2) {
    background-image: url("../assets/icons/states.png");
}

.media-button:nth-child(3) {
    background-image: url("../assets/icons/diffusions.png");
}

.media-button:nth-child(4) {
    background-image: url("../assets/icons/diary.png");
}

.media-button:nth-child(5) {
    background-image: url("../assets/icons/options.png");
}